<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<!-- Cadena de conexión de Isaí -->
		<!--
		<add name="AhorcadoDB"
			 connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->

		<add name="AhorcadoDB"
			 connectionString="Data Source=HONEYBUNNY\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=HONEYBUNNY\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />

		<!-- Cadena de conexión para la IP pública -->
		<!--
		<add name="AhorcadoDB"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString1"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->

		<!-- Cadena de conexión para la IP local -->
		<!--
		<add name="AhorcadoDB"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString1"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;InitialCatalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<!-- Binding original conservado -->
			<wsDualHttpBinding>
				<binding name="DuplexBinding"
						 closeTimeout="00:00:30"
						 openTimeout="00:00:30"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:00:30"
						 maxReceivedMessageSize="65536">
					<reliableSession ordered="true" inactivityTimeout="00:10:00" />
				</binding>

				<!-- ✅ Nuevo binding con límites ampliados -->
				<binding name="LargeBinding"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:20:00"
						 sendTimeout="00:01:00"
						 maxReceivedMessageSize="65536000"
						 maxBufferPoolSize="65536000">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="65536000"
								  maxArrayLength="65536000"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:20:00" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<client>
			<!-- Usar binding modificado para soportar mensajes grandes -->
			<endpoint address="http://localhost:8080/AhorcadoService"
					  binding="wsDualHttpBinding"
					  bindingConfiguration="LargeBinding"
					  contract="ServidorAhorcadoService.IAhorcadoService"
					  name="AhorcadoEndpoint" />
		</client>
	</system.serviceModel>
</configuration>