<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<!-- Puedes dejar aquí tus cadenas, aunque en cliente no se suelen usar. -->
		<add name="AhorcadoDB"
			 connectionString="Data Source=HONEYBUNNY\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=HONEYBUNNY\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBinding"
						 closeTimeout="00:02:00"
						 openTimeout="00:02:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:02:00"
						 maxReceivedMessageSize="65536000"
						 maxBufferPoolSize="65536000">
					<security mode="None"/>
					<readerQuotas maxDepth="64"
								  maxStringContentLength="65536000"
								  maxArrayLength="65536000"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<!-- El endpoint principal para tu proxy WCF: -->
			<endpoint
			  address="net.tcp://192.168.1.67:8090/AhorcadoService"
			  binding="netTcpBinding"
			  bindingConfiguration="TcpBinding"
			  contract="BibliotecaClasesNetFramework.Contratos.IAhorcadoService"
			  name="AhorcadoServiceEndpoint" />

			<!-- Endpoint de metadata (MEX) opcional para herramientas -->
			<endpoint address="net.tcp://192.168.1.67:8090/AhorcadoService/mex"
					  binding="mexTcpBinding"
					  contract="IMetadataExchange" />
		</client>
	</system.serviceModel>
</configuration>
