<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>

		<!-- Cadena de conexión de Isaí -->
		<add name="AhorcadoDB"
			connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			providerName="System.Data.SqlClient" />

		<!-- Cadena de conexión para el servidor de Isaí -->
		<add name="ServidorAhorcadoService.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=JuegoAhorcado;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<!-- Tu cadena de conexión -->
		<add name="JAhorcadoDB"
			connectionString="Server=localhost\SQLEXPRESS04;Database=master;Trusted_Connection=True;"
			providerName="System.Data.SqlClient" />
	<!-- Cadena de conexión para la IP pública -->
	<!-- 
		<add name="AhorcadoDB"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString1"
			 connectionString="Data Source=187.193.51.134\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->	 

		<!-- Cadena de conexión para la IP local -->
		<!-- 
		<add name="AhorcadoDB"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ClienteAhorcado.Properties.Settings.JuegoAhorcadoConnectionString1"
			 connectionString="Data Source=192.168.1.67\SQLEXPRESS05;Initial Catalog=JuegoAhorcado;User ID=usuario_remoto;Password=AhorcadoMorido;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="DuplexBinding"
						 closeTimeout="00:00:20"
						 openTimeout="00:00:20"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:00:20"
						 maxReceivedMessageSize="65536">
					<reliableSession ordered="true" inactivityTimeout="00:10:00" />
				</binding>
			</wsDualHttpBinding>
		</bindings>

		<client>
			<!-- Esta es la configuración que se usará en MainWindow.xaml.cs -->
			<endpoint name="AhorcadoEndpoint"
					  address="http://192.168.1.76:8080/AhorcadoService/"
					  binding="wsDualHttpBinding"
					  bindingConfiguration="DuplexBinding"
					  contract="ServidorAhorcadoService.IAhorcadoService" />
		</client>
	</system.serviceModel>
</configuration>
